*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    /* background-image: linear-gradient(purple, peru); */
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.type-big{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #000;
}


.new-note{
    display: none;
}

.home{
    background-color: var(--light-bg);
    color: var(--light-text);
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    border-bottom: 2px solid #ccc0;
}

.dark .navbar{
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #ccc5;
}

.home .about{
    padding: 20px;
    width: 100%;
    height: 20%;
    /* height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 163, 244);
    color: var(--dark-text);
    line-height: 20px;
    word-spacing: 2px;
    text-align: center;
    transition: all 0.5s ease;
    /* flex: 1; */
    flex-direction: column;
}

.dark .home .about{
    background-color: #000;
}

.home .about a{
    margin-top: 20px;
    transition: all 0.5s ease;
}

.dark .home .about a{
    color: tomato;
}

.home .notes-holder{
    /* min-height:calc(80vh - 60px); */
    /* flex: 1; */
    height: calc(80% - 60px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    border-top: 2px solid #ccc0;
}

.dark .home .notes-holder{
    background-color: #000;
    border-top: 2px solid #ccc5;
}

.home .notes-holder .no-notes{
    color: #666;
    font-size: 20px;
}

.note{
    transition: all 0.5s ease;
}

.note:hover{
    background-color: #000 !important;
}

.dark .note{
    border: 2px solid #fff0;
}

.dark .note:hover{
    border-color:  #ffffffc3 !important;
}

.note-button-holder{
    /* opacity: 0; */
    /* visibility: hidden; */
    transform: translateY(-100%);
    transition: all 0.5s ease;
}

.note:hover .note-button-holder{
    /* opacity: 1; */
    /* visibility: visible; */
    transform: translateY(0);
}

.note-name{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* opacity: 1; */
    position: absolute;
    /* visibility: visible; */
    transform: translateY(0);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note:hover .note-name{
    /* opacity: 0; */
    transform: translateY(100%);
    /* visibility: hidden; */
}

button{
    transition: all 0.5s ease;
}

.button-copy.anim{
    opacity: 0.3 !important;
}

.cta-button{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(13, 105, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    box-shadow: 0px 0px 10px rgba(0, 81, 85, 0.694);
    transition: all 0.5s ease;
}

.dark .cta-button{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px transparent;
}

.new-note{
    display: flex;
    z-index: 3;
    /* opacity: 0; */
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: transparent;
}



.show.new-note{
    transform: translateX(0);
    /* opacity: 1; */
    visibility: visible;
}

.new-note .return{
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    z-index: 2;
}

.dark .new-note .return{
    color: #fff;
}

.new-note .new-note-details{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* backdrop-filter: blur(10px); */
}

.dark .new-note .new-note-details{
    background-color: #000;
}

.new-note .new-note-details h2{
    margin-bottom: 40px;
    letter-spacing: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    /* color: ; */
}

.dark .new-note .new-note-details h2{
    color: #fff;
}

.new-note .new-note-details h2::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 3.5px;
    background-color: #aaa9;
    border-radius: 20px;
    bottom: -16px;
}

.new-note .new-note-details form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.new-note .new-note-details form input{
    outline: none;
    border: none;
    border-left: 5px solid rgb(0, 0, 73);
    padding: 10px;
    box-shadow: 4px 4px 4px #0001;
}


.new-note .new-note-details form textarea{
    outline: none;
    border: none;
    border-left: 5px solid rgb(0, 0, 73);
    padding: 10px;
    min-width: 100%;
    max-width: 300px;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 4px 4px 4px #0001;
}

.dark .new-note .new-note-details form input, .dark .new-note .new-note-details form textarea{
    border: none;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.new-note .new-note-details form .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    /* margin-top: 30px; */
}

.new-note .new-note-details form .buttons button{
    padding: 20px;
    width: 100%;
    background-color: rgb(13, 105, 91);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 550;
    border: none;
    transition: all 0.5s ease;
}



#save.anim{
    background-color: #000;
}

.dark #save{
    background-color: transparent;
    border-top: 2px solid #fff5;
}

.dark #save.anim{
    background-color: #fff;
    color: #000;
}

.theme{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--dark-text);
    background-color: var(--dark-bg);
    transform: rotate(45deg) translate(0%, 70%);
    transition: all 0.5s ease;
    border: 2px solid transparent;
}

.dark .theme{
    background-color: #fff;
    color: #000;
}

.theme .theme-changer{
    position: absolute;
    transform: translate(0, -30px);
    /* bottom: 10px; */
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fffe;
    backdrop-filter: blur(10px);
    z-index: 20;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: deletepreloader 0.5s ease forwards;
    animation-delay: 3s;
    display: none;
}

.dark .preloader{
    background-color: #000e;
}

.preloader .version{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #666;
}

@keyframes deletepreloader{
    0%{}
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.preloader-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid rgb(13, 105, 91);
    border-bottom: 5px solid rgba(13, 105, 91, 0.206);
    animation: preloader 1s ease forwards infinite alternate; 
}

@keyframes preloader {
    0%{
        transform: rotate(-700deg);
    }
    100%{
        
    }
}

@keyframes preloader {
    0%{
        transform: rotate(-700deg);
    }
    100%{
        
    }
}

.download{
    /* width: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    padding: 20px;
    background-color: rgb(0, 0, 30);
    /* background-image: linear-gradient(45deg,rgb(0, 0, 59), black); */
    color: #fff;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 4;
    bottom: 20px;
    right: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #0003;
    opacity: 0;
    scale: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.show.download{
    opacity: 1;
    scale: 1;
    visibility: visible;
}

.download:hover{
    background-color: #000;
}

.element{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    padding: 30px;
}

.show.element{
    opacity: 1;
    visibility: visible;
}

.element h2{
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element h2::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ccc9;
    border-radius: 30px;
    bottom: -20px;
}

.downloadX{
    position: fixed;
    background-color: transparent;
    top: 10px;
    left: 10px;
    z-index: 40;
    width: 40px;
    height: 40px;
    opacity: 0;
    scale: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.show.downloadX{
    opacity: 1;
    visibility: visible;
    scale: 1;
}

.gotodownload{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #777;
    transition: all 0.5s ease;
}

.gotodownload:hover{
    opacity: 0.5;
}

.preferences{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 30px #0005;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
}

.show.preferences{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.preferences button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    /* border: 2px solid #000; */
}

.preferences .red{
    background-color: red;
}

.preferences .black{
    background-color: black;
}

.preferences .white{
    background-color: white;
    border: 2px solid #0004;
}

.preferences .green{
    background-color: green;
}

.preferences .purple{
    background-color: purple;
}